<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hansung.traveldiary">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/img_splash"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/img_splash"
        android:supportsRtl="true"
        android:theme="@style/Theme.TravelDiary">
        <activity android:name=".src.diary.write_diary.WriteDiaryActivity">

        </activity>
        <activity android:name=".src.bulletin.ShowDiaryActivity"/>
        <activity android:name=".src.home.WebViewActivity"></activity>
        <activity android:name=".src.diary.MyDiaryDaySectionActivity" />
        <activity
            android:name=".src.diary.SendTravelPlanActivity"
            android:theme="@style/Transparent" />
        <activity
            android:name=".src.travel.AddBook.AddTravelPlanActivity"
            android:theme="@style/Transparent"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".src.plan.TravelPlanBaseActivity" />
        <activity android:name=".Test" />
        <activity android:name=".src.plan.SearchWordResultActivity" />
        <activity android:name=".src.plan.plan_day_section.PlanDaySectionActivity" />
        <activity android:name=".src.profile.gallery.SelectPictureActivity" />
        <activity android:name=".src.profile.edit_info.EditInfoActivity" />
        <activity android:name=".src.splash.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".src.login.RegisterActivity" />
        <activity android:name=".src.travel.DiaryActivity" />
        <activity android:name=".src.login.LoginActivity" />
        <activity android:name=".src.bulletin.BulletinDaySectionActivity" />
        <activity android:name=".src.plan.TravelPlanActivity" />
        <activity
            android:name=".src.MainActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.naver.maps.map.CLIENT_ID"
            android:value="avjpx313dk" />
    </application>

</manifest>